<div class="search">
  <h1>
    Determine how content is trending,
    <br>
    by entering a term below:
  </h1>
  <form action="/search" method="post" >
    <input name="q" type="text" value="<%= @q %>" />
  </form>
</div>